
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary" draggable="true">
      <div class="panel-body">
        <a id="run-btn" class="btn btn-primary" onclick="runSimulation()"><span class="glyphicon glyphicon-play"></span></a>
      </div>
    </div>
  </div>
</div>

<script>
  var simuationStarted = false;

  function runSimulation() {
    simuationStarted = true;
    updateControlState();

    if (window["clearTerminal"] != null) {
      clearTerminal();
    }

    $("#simulation-modal").modal();

    addToTerminal("Local", "Started");
    
    jQuery.post( "/game/ai/runSimulation", {},
    function( result ) {
      var report = result.result;
      for (var i=0; i<report.log.length; i++) {
        addToTerminal("Server", report.log[i]);
      }
      addToTerminal("Local", "Ended - " + report.stepCount + " steps run");
    });
  }

  function updateControlState() {
    //$("#run-btn").attr('disabled', simuationStarted);
  }

</script>


