
<%
if ((stage.actions == null) || (stage.actions.length > 0)) {
%>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= stage.value %>">
        <%= stage.text %>
      </a>
    </h4>
  </div>
  <div id="collapse-<%= stage.value %>" class="panel-collapse in">
    <div class="panel-body">

      <div class="row">
        <div class="col-md-12">
          <%
            var conditionals = (brain && brain[stateId] && brain[stateId][stage.value]) ? brain[stateId][stage.value] : [];
          %>
          <%- partial('conditional', {collectionName:collectionName, oid:oid, id:stateId+"."+stage.value, conditionals:conditionals, entities:entities, actions:stage.actions||null}) %>
        </div>
      </div>
     
    </div>
  </div>
</div>

<%
}
%>
