
<div class="row">
  <div class="col-md-12">
    <a id="run-btn" class="btn btn-primary" onclick="runSimulation()"><span class="glyphicon glyphicon-play"></span></a>
  </div>
</div>

<script>
  var simuationStarted = false;

  function runSimulation() {
    simuationStarted = true;
    updateControlState();

    if (window["clearTerminal"] != null) {
      clearTerminal();
    }

    $("#simulation-modal").modal();

    setTimeout(function() {
      if (window["addToTerminal"] != null) {
        addToTerminal("Simulation", "Started");
      }
    }, 1000);
  }

  function updateControlState() {
    //$("#run-btn").attr('disabled', simuationStarted);
  }

</script>


