
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-visualization">
        Simulation Visualization
      </a>
    </h4>
  </div>
  <div id="collapse-visualization" class="panel-collapse collapse">
    <div class="panel-body">
    </div>
  </div>
</div>