<div class="row">
	<div class="col-md-12">
		<div id="starmap-viewport" style="position:relative; width:900px;height:900px;">
		</div>
	</div>
</div>

<script>
	var viewportWidth = window.innerWidth;
	var viewportHeight = window.innerHeight;

	var galaxy = <%- JSON.stringify(galaxy) %>;
	var config = <%- JSON.stringify(config) %>;	
	var phaserGame = null;
	var starMap = null;

	window.onload = function() {
		var isMobile = true;//Phaser.Device.mobileSafari;

		var startTime = new Date().getTime();
		console.log("window.onload started");

		var transparentBG = false;
		var renderMode = isMobile ? Phaser.CANVAS : Phaser.AUTO;
		phaserGame = new Phaser.Game(viewportWidth, viewportHeight, renderMode, 'starmap-viewport', 
				{ preload: preload,create:create, update:update, render:render }, transparentBG);

		console.log("Phaser init done");
	    function preload () {
	    	console.log("preload");
	        phaserGame.load.image('hex', '/game/starmap/hex.png');
	        phaserGame.load.image('outlineHex', '/game/starmap/outlineHex.png');
	    }

	    function create () {
	    	console.log("create");
	    	phaserGame.stage.backgroundColor = "#000000";
	    	phaserGame.world.setBounds(-1*1000, -1*1000, 1000*4, 1000*4);
	    	phaserGame.input.addPointer();

	        starMap = new StarMap(phaserGame, config, galaxy, viewportWidth, viewportHeight);

			//alert("load took " + (new Date().getTime() - startTime) + "ms");
	    }

	    function update() {
	        starMap.update();
		}

		function render() {
		}

	}
</script>